@tailwind base;
@tailwind components;
@tailwind utilities;

/* .menu li > a {
  background-color: orange;
  color: white;
}
.menu li > a:active {
  background-color: red !important;
  color: white !important;
}
.menu li > a:hover {
  background-color: red !important;
  color: white !important;
} */

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.slick-arrow {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.slick-thumb {
  text-align: start;
}

.flex-important {
  display: flex !important;
}

.front-page-carousel .slick-arrow {
  display: block !important;
}

.front-page-carousel .slick-next {
  right: 3%;
}

.front-page-carousel .slick-prev {
  left: 1%;
  z-index: 1;
}

.slick-next:before,
.slick-prev:before {
  font-size: 3.125rem;
}

.menu-item {
  position: relative;
  /* margin: 0 1rem; */
  /* padding: 0 1rem; */
  color: white;
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.menu-item::after {
  content: "";
  position: absolute;
  bottom: -3px; /* Position the underline slightly below the text */
  left: 10%;
  width: 0;
  height: 2px; /* Thickness of the underline */
  background-color: white;
  transition: width 0.3s ease;
}

.menu-item:hover::after {
  width: 80%; /* Animate from left to right */
}

.instagram-gradient {
  background: linear-gradient(45deg, #833ab4, #e4405f, #fcaf45, #f58025);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Nutritional facts css starts */
/* .nutrition-facts {
  width: 300px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  border: 1px solid #ddd;
  padding: 10px;
}

.nutrition-facts h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.nutrition-facts hr {
  border: 1px solid #000;
  margin: 10px 0;
}

.calories-section {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

table {
  width: 100%;
  margin: 10px 0;
  border-collapse: collapse;
}

table td {
  padding: 2px 0;
}

.daily-value {
  text-align: right;
}

.daily-value-note {
  font-size: 12px;
  margin-top: 10px;
  color: #555;
}

.ingredients {
  margin-top: 15px;
}

.ingredients h3 {
  font-size: 16px;
  font-weight: bold;
}

.ingredients p {
  font-size: 14px;
  color: #555;
} */

/* Nutritional facts css ends */
